
*{
    max-height: 100vh;
}
body {
  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

form {

    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.tableSection{
    flex: 1;
    height: 65vh;
    overflow-y: scroll;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    align-self: center;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.studentRecords td{
    background-color: #d2edd392;
    border: solid 2px black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
